body {
    font-family: Oxygen, sans-serif;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 75px;
}
.logo-left img {
    height: 35px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
.header {
    display: grid;
    grid-template-rows: 20px 30px;
    align-items: center;
    width: 1150px;
    color: white;
}
.explore {
    color: #E5E783;
    font-size: 18px;
}
.header-links {
    display: flex;
    font-size: 20px;
}
.header-links > .spark {
    margin-left: 25px;
}
.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding-right: 15px;
}
.login-link {
    width: 300px;
}
.btn-link {
    
    
}
.btn {
    height: 50px;
    width: 90px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    background-color: #9CA8AF;
}